---
import MisionIcon from '../../../public/images/icons/mision.svg';
import VisionIcon from '../../../public/images/icons/vision.svg';
import ValoresIcon from '../../../public/images/icons/valores.svg';
---

<section class="py-20 px-16 bg-[#11141a]">
    <div class="flex flex-row justify-between px-4">
        <div class="flex flex-col gap-5">
            <h2 class="font-medium text-sm text-[#AEC6FF]">FILOSOFIA OPERATIVA</h2>
            <p class="text-[#E1E2EB] text-5xl">El ADN de Vigia Telecom</p>
        </div>
        <div>
            <p class="text-[#C4C6D0] text-sm font-light max-w-xs">Nuestros principios no solo son palabras; son los protocolos que rigen cada bit que viaja por nuestra infraestructura</p>
        </div>
    </div>
    <div class="grid gap-4 mt-12 p-4 mx-auto grid-cols-1 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
        <div class="flex flex-col bg-[#C4C6D0] bg-opacity-10 max-w-sm items-start gap-4 transition duration-300 p-14 rounded-3xl">
            <div class="flex items-start p-4 gap-2 bg-[#AEC6FF] bg-opacity-20 rounded-xl">
                <MisionIcon width="24" height="24" class="Mision-icon" />
            </div>
            <div>
                <h2 class="font-medium text-base text-[#E1E2EB]">Misión</h2>
            </div>
            <p class="text-[#C4C6D0] text-sm/6 max-w-72">
                Implementamos las últimas tecnologías en hardware de red para garantizar que tu conexión nunca quede obsoleta.
            </p>
        </div>
        <div class="flex flex-col bg-[#C4C6D0] lg:translate-y-8 bg-opacity-10 max-w-sm items-start gap-4 transition-all duration-300 p-14 rounded-3xl">
            <div class="flex items-start p-4 gap-2 bg-[#6EDE74] bg-opacity-20 rounded-xl">
                <VisionIcon width="24" height="24" class="Vision-icon"/>
            </div>
            <div>
                <h2 class="font-medium text-base text-[#E1E2EB]">Visión</h2>
            </div>
            <p class="text-[#C4C6D0] text-sm/6 max-w-72">Fibra óptica pura hasta tu hogar. Sin cuellos de botella, sin esperas, solo velocidad instantánea.
            </p>
        </div>
        <div class="flex flex-col bg-[#C4C6D0] bg-opacity-10 max-w-sm items-start gap-4 transition duration-300 p-14 rounded-3xl">
            <div class="flex items-start p-4 gap-2 bg-[#FFB691] bg-opacity-20 rounded-xl">
                <ValoresIcon width="24" height="24" class="Valores-icon" />
            </div>
            <div>
                <h2 class="font-medium text-base text-[#E1E2EB]">Valores</h2>
            </div>
            <p class="text-[#C4C6D0] text-sm/6 max-w-72">Nuestro sistema vigía monitorea patrones de amenaza para proteger tu privacidad desde el primer nodo.
            </p>
        </div>
    </div>
</section>