---
import Base from "@/layouts/Base.astro";
import "../styles/main.scss";
import Plans from "@/layouts/components/Plans.astro";
import { Image } from "astro:assets";
import AdnVigia from "@/layouts/components/adnVigia.astro";
import Technology from "@/layouts/components/technology.astro";
---
<Base>
<svg class="size-full absolute -z-10 inset-0" width="1440" height="720" viewBox="0 0 1440 720" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path stroke="#1D293D" stroke-opacity=".7" d="M-15.227 702.342H1439.7" />
    <circle cx="711.819" cy="372.562" r="308.334" stroke="#1D293D" stroke-opacity=".7" />
    <circle cx="16.942" cy="20.834" r="308.334" stroke="#1D293D" stroke-opacity=".7" />
    <path stroke="#1D293D" stroke-opacity=".7" d="M-15.227 573.66H1439.7M-15.227 164.029H1439.7" />
    <circle cx="782.595" cy="411.166" r="308.334" stroke="#1D293D" stroke-opacity=".7" />
</svg>

<div id="mobile-navLinks" class="fixed inset-0 z-[100] bg-[#111318] text-white backdrop-blur flex flex-col items-center justify-center text-lg gap-8 md:hidden transition-transform duration-300 -translate-x-full">
    <a href="/">
        Home
    </a>
    <a href="/products">
        Products
    </a>
    <a href="/stories">
        Stories
    </a>
    <a href="/pricing">
        Pricing
    </a>
    <button id="close-menu" class="active:ring-3 active:ring-white aspect-square size-10 p-1 items-center justify-center bg-white hover:bg-slate-200 transition text-black rounded-md flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
    </button>
</div>

<section class="flex flex-col bg-[#0c0e13] max-md:gap-20 md:flex-row pb-20 items-center justify-between mt-20 px-4 md:px-16 lg:px-24 xl:px-32">
    <div class="flex flex-col items-center md:items-start">
        <div class="flex flex-wrap items-center justify-center p-1.5 rounded-full border border-slate-600 text-white text-xs">
            <!-- <div class="flex items-center">
                <img class="size-7 rounded-full border-3 border-white"
                    src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?q=80&w=50" alt="userImage1">
                <img class="size-7 rounded-full border-3 border-white -translate-x-2"
                    src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=50" alt="userImage2">
                <img class="size-7 rounded-full border-3 border-white -translate-x-4"
                    src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=50&h=50&auto=format&fit=crop"
                    alt="userImage3">
            </div> -->
            <p class="-translate-x-2 text-[#6EDE74] ml-4">VANGUARDIA EN CONECTIVIDAD</p>
        </div>
        <h1 class="text-center md:text-left text-5xl leading-[68px] md:text-6xl md:leading-[84px] font-medium max-w-xl text-slate-50">
            Conectando el pulso digital
        </h1>
        <p class="text-center md:text-left text-[#C4C6D0] text-sm font-light max-w-lg mt-2">
            Vigía Telecom es una empresa mexicana en el diseño, contrucción y operación de redes de telecomunicaciones mediante tecnología de fibra óptica.
        </p>
    </div>
    <Image src="/images/integrations/fiber_optic.png" alt="hero" class="rounded-3xl max-w-xs sm:max-w-sm lg:max-w-md transition-all duration-300 brightness-110 contrast-125 saturate-150" width={500} height={500}/>
    <!-- <img src="https://raw.githubusercontent.com/prebuiltui/prebuiltui/main/assets/hero/hero-section-showcase-3.png" alt="hero" class="max-w-xs sm:max-w-sm lg:max-w-md transition-all duration-300"> -->
</section>

<AdnVigia />

<Technology />

</Base>
